<form action="/cart/add" method="post" style="display:inline-block;">
    {% for product in drop.products %}
      <input
        type="hidden"
        name="items[{{ forloop.index0 }}][id]"
        value="{{ product.variants.first.id }}"
      >
      <input
        type="hidden"
        name="items[{{ forloop.index0 }}][quantity]"
        value="1"
      >
    {% endfor %}
    <button
      type="submit"
      style="padding:15px 30px;background-color:#2E3332;color:#ffffff;border-radius:30px;margin:auto;"
    >
      Add the full edit to your cart
    </button>
  </form>