openapi: 3.0.3
info:
  title: CreatorCommerce Unified API
  description: |-
    API for managing creators, collabs, drops, and checkout URLs.

    Identifier rules for creator/collab workflows:
    - Email-based lookup is supported on:
      - `GET /channels/{myshopifyDomain}/collabs` via query `email`
      - `GET /channels/{myshopifyDomain}/creators/magic-link` via query `email`
      - `GET /creators/collabs` via query `email` + `myshopify_domain`
      - `POST /creators/collabs` on create via body `email`
    - Collab-based operations require `collabId` in path and email cannot replace it:
      - `GET/POST /channels/{myshopifyDomain}/collabs/{collabId}`
      - `POST /channels/{myshopifyDomain}/collabs/{collabId}/...`
      - `POST /creators/collabs/{collabId}`
      - `POST /creators/collabs/{collabId}/drops`
      - `POST /creators/collabs/{collabId}/drops/{dropId}`
    - Where an endpoint includes `collabId` and also accepts creator `email`, email is treated as creator data to update, not a lookup substitute for `collabId`.
  version: 1.0.0
  contact:
    name: CreatorCommerce Support
servers:
  - url: https://unified-api.creatorcommerce.shop
    description: Production server
tags:
  - name: Checkout
    description: Checkout URL generation
  - name: Channels
    description: Channel retrieval and channel-level settings
  - name: Magic Links
    description: Creator magic link generation
  - name: Collabs
    description: Creator collaboration management
  - name: Drops
    description: Product drop management
  - name: Custom Field Definitions
    description: Channel custom-field definition management
  - name: Form Definitions
    description: Channel form definition management
  - name: Campaigns
    description: Channel campaign management
  - name: Metrics
    description: Channel analytics metrics
  - name: Integrations
    description: Integration connection and listings
  - name: Storage
    description: Upload and media utilities
security:
  - BearerAuth: []
  - ApiKeyAuth: []
paths:
  /creators/{creatorId}/drops/{dropId}/cart:
    get:
      tags:
        - Checkout
      summary: Generate Drop Checkout URL
      description: Generates a checkout URL for a specific drop with all products added to cart
      operationId: generateDropCheckoutUrl
      parameters:
        - name: creatorId
          in: path
          required: true
          description: The creator ID
          schema:
            type: string
            example: "67a92b7cc7825fe4342e0fb5"
        - name: dropId
          in: path
          required: true
          description: The drop ID
          schema:
            type: string
            example: "67a9390b6cc51f6c4e878db1"
      responses:
        '200':
          description: Successfully generated checkout URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartUrlResponse'
              example:
                data:
                  cartUrl: "https://cc-goaff-sandbox.myshopify.com/cart/48659261522232:1?access_token=1fe8e5cf1f9cb6e8e494cd6599e19acf&attributes[cc-creator-id]=67a92b7cc7825fe4342e0fb5&attributes[cc-creator-handle]=keion1bron&attributes[cc-campaign-id]=67a926aae91287a8ffe066b7&discount=fvfvfvfrvrfvrv"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                error: "Internal Server Error"
                message: "Failed to create cart url"

  /storage/presigned-url:
    get:
      tags:
        - Storage
      summary: Get Presigned Upload URL
      description: Returns a presigned upload URL and the created media object metadata.
      operationId: getPresignedUrl
      parameters:
        - name: filename
          in: query
          required: true
          schema:
            type: string
        - name: contentType
          in: query
          required: true
          schema:
            type: string
            example: "image/png"
        - name: extension
          in: query
          required: true
          schema:
            type: string
            example: "png"
        - name: meta[channelId]
          in: query
          required: false
          description: Optional channel ID used for media ownership/tags.
          schema:
            type: string
        - name: meta[creatorId]
          in: query
          required: false
          description: Optional creator ID used for media ownership/tags.
          schema:
            type: string
      responses:
        '200':
          description: Presigned URL generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrlResponse'
              example:
                presignedUrl: "https://pub-abc123.r2.cloudflarestorage.com/shop-assets/6997d1b29655870ce8359c45-6997d1305fe142fd13cff4b6/69fa9f2a1f47f90132ab8890.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."
                media:
                  _id: "69fa9f2a1f47f90132ab8890"
                  mediaContentType: "IMAGE"
                  mimeType: "image/png"
                  originalFilename: "creator-profile.png"
                  filename: "69fa9f2a1f47f90132ab8890"
                  extension: "png"
                  owner: "6997d1b29655870ce8359c45-6997d1305fe142fd13cff4b6"
                  tags:
                    - "channel-6997d1b29655870ce8359c45"
                    - "creator-6997d1305fe142fd13cff4b6"
                  url: "https://assets.drops.shop/6997d1b29655870ce8359c45-6997d1305fe142fd13cff4b6/69fa9f2a1f47f90132ab8890.png"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}:
    get:
      tags:
        - Channels
      summary: Get Channel
      description: Retrieves channel configuration by myshopify domain.
      operationId: getChannel
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
            example: "cc-goaff-sandbox.myshopify.com"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Channel retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              example:
                channel:
                  _id: "6997d1b29655870ce8359c45"
                  name: "nuuds"
                  handle: "nuuds"
                  isInstalled: true
                  platform: "shopify"
                  shopify:
                    shopId: "gid://shopify/Shop/6997d1b29655870ce8359c45"
                    myshopifyDomain: "nuuds-com.myshopify.com"
                    shopName: "nuuds"
                  brandKit:
                    title: "nuuds"
                    primaryColor: "#270803"
                    primaryDomain: "www.nuuds.com"
                  features:
                    isWebPixelEnabled: true
                    isDefaultMessagingEnabled: false
                  connectedIntegrations:
                    - name: "Klaviyo"
                      handle: "klaviyo"
                      type: "esp"
                      isEnabled: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/creators/magic-link:
    get:
      tags:
        - Magic Links
      summary: Get Magic Link
      description: Generates a magic link for creator authentication. Uses creator `email` as the lookup key within the specified channel.
      operationId: getMagicLink
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          description: The Shopify domain (e.g., tradespoke.myshopify.com)
          schema:
            type: string
            example: "tradespoke.myshopify.com"
        - name: email
          in: query
          required: true
          description: Creator email lookup key.
          schema:
            type: string
            format: email
            example: "kenyon+test@creatorcommerce.shop"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully generated magic link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicLinkResponse'
              examples:
                invitation:
                  value:
                    email: "kenyon+48427w4882884828@creatorcommerce.shop"
                    notify: true
                    link: "https://dashboard-staging.creatorcommerce.shop/invitation?email=kenyon+4822wqs84882884828@creatorcommerce.shop&channel=cc-goaff-sandbox.myshopify.com"
                signIn:
                  value:
                    email: "kenyon+ppenidnt3948@creatorcommerce.shop"
                    notify: false
                    link: "https://creatorcommerce.accounts.dev/sign-in?__clerk_ticket=eyJhbGci..."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                error: "Internal Server Error"
                message: "Failed to create magic link"

  /channels/{myshopifyDomain}/integrations/connect:
    post:
      tags:
        - Integrations
      summary: Connect Channel Integration
      description: Connects or updates an integration config in `channel.connectedIntegrations`.
      operationId: connectChannelIntegration
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectedIntegration'
            example:
              name: "Klaviyo"
              handle: "klaviyo"
              type: "esp"
              isEnabled: true
              klaviyo:
                apiKey: "pk_1234567890abcdef"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Integration connected/updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    $ref: '#/components/schemas/ConnectedIntegration'
              example:
                integration:
                  name: "Klaviyo"
                  handle: "klaviyo"
                  type: "esp"
                  isEnabled: true
                  klaviyo:
                    apiKey: "pk_1234567890abcdef"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/integrations/disconnect:
    post:
      tags:
        - Integrations
      summary: Disconnect Channel Integration
      description: Removes a connected integration by handle.
      operationId: disconnectChannelIntegration
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - handle
              properties:
                handle:
                  type: string
                  example: "klaviyo"
            example:
              handle: "klaviyo"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Integration disconnected
          content:
            application/json:
              schema:
                type: object
                properties:
                  handle:
                    type: string
                  status:
                    type: boolean
              example:
                handle: "klaviyo"
                status: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/settings:
    post:
      tags:
        - Channels
      summary: Update Channel Settings
      description: Updates channel settings/brand-kit/feature objects (partial merge, one level deep).
      operationId: updateChannelSettings
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            example:
              brandKit:
                title: "nuuds"
                description: "Comfort-first staples."
                primaryColor: "#270803"
              features:
                isWebPixelEnabled: true
                isDefaultMessagingEnabled: true
              onboardingSettings:
                title: "Welcome to the creator program"
                perks:
                  - "Exclusive discount"
                  - "Early access to launches"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Channel updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
              example:
                channel:
                  _id: "6997d1b29655870ce8359c45"
                  name: "nuuds"
                  handle: "nuuds"
                  brandKit:
                    title: "nuuds"
                    description: "Comfort-first staples."
                    primaryColor: "#270803"
                  features:
                    isWebPixelEnabled: true
                    isDefaultMessagingEnabled: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/collabs:
    get:
      tags:
        - Collabs
      summary: Get Channel Collabs
      description: Retrieves collabs for a specific channel. If `email` is provided, performs creator-email lookup and returns collab(s) for that creator.
      operationId: getChannelCollabs
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          description: The Shopify domain (e.g., tradespoke.myshopify.com)
          schema:
            type: string
            example: "cc-goaff-sandbox.myshopify.com"
        - name: query
          in: query
          required: false
          description: Fuzzy search query (creator name, handle, affiliate code).
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Creator email lookup key. When provided, the response is scoped to that creator.
          schema:
            type: string
            format: email
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully retrieved channel collabs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCollabsResponse'
              example:
                collabs:
                  - _id: "6997d1305fe142fd13cff4d7"
                    creator:
                      _id: "6997d1305fe142fd13cff4b6"
                      firstName: "Jill"
                      lastName: "Doe"
                      email: "jill@example.com"
                      handle: "jill-650"
                    collabTier:
                      _id: "6997d1305fe142fd13cff500"
                      title: "CC // Test Pages"
                      tierKey: "28002"
                    affiliateCode: "JILL23878"
                    affiliateUrl: "https://www.nuuds.com/JILL23878"
                    discount:
                      discountAmount: 20
                      discountType: "Percentage"
                    drops:
                      - _id: "6997dd60c65868de8b5a1aaf"
                        title: "Without these, I'd just go nude"
                pagination:
                  hasNextPage: false
                  totalCount: 1
                  nextCursor: "6997d1305fe142fd13cff4d7"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                error: "Internal Server Error"
                message: "Failed to retrieve channel collabs"

  /channels/{myshopifyDomain}/collabs/{collabId}:
    get:
      tags:
        - Collabs
      summary: Get Channel Collab
      description: Retrieves a specific collab for a channel with full details including drops and enhancements. Requires `collabId`; email is not supported as a substitute lookup.
      operationId: getChannelCollab
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          description: The Shopify domain
          schema:
            type: string
            example: "cc-goaff-sandbox.myshopify.com"
        - name: collabId
          in: path
          required: true
          description: The collab ID
          schema:
            type: string
            example: "67801c7dddd3b70bb40a62e9"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully retrieved channel collab
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCollabResponse'
              example:
                collab:
                  _id: "67801c7dddd3b70bb40a62e9"
                  creator:
                    _id: "67801c7dddd3b70bb40a62e6"
                    firstName: "Brett"
                    lastName: "Anderson"
                    handle: "brett"
                    email: "kenyon+0404030430403300e0r@creatorcommerce.shop"
                    profilePicture:
                      _id: "68318157b14fb8d0032f0884"
                      url: "https://assets.drops.shop/user_2rP83VD6o02CQ9hHNINi6nfZVcr/68318157b14fb8d0032f0884.png"
                      mimeType: "image/png"
                      mediaContentType: "IMAGE"
                      filename: "68318157b14fb8d0032f0884"
                    shop:
                      theme:
                        primaryColor: "#000000"
                      title: "Brett's Shop"
                  collabTier:
                    _id: "6785e7cb86247878dbd60430"
                    title: "Shopify Collabs Tier Codes - CC // Ambassadors"
                  campaign:
                    _id: "6797d50cecf174b7e23f3f50"
                    title: "Ambassadors"
                  affiliateCode: "brett15"
                  affiliateUrl: "https://www.demobrand.shop/brett15"
                  discount:
                    discountAmount: 0.1
                    discountType: "Percentage"
                  drops:
                    - _id: "6831814eb14fb8d0032f086a"
                      title: "Starter Kit"
                      description: "For your first purchases. Trust me."
                      enhancements:
                        - _id: "6831814eb14fb8d0032f0873"
                          product: "6831814e5623cdacc9023abd"
                          note: "Perfect for riding in the lambo"
                          media:
                            - _id: "68c229ffd1866e0904f04e74"
                              url: "https://assets.drops.shop/user_2Y9PXpJDOvhRp4ezcyT91wcge9W/68c229ffd1866e0904f04e74.mp4"
                              mimeType: "video/mp4"
                              mediaContentType: "VIDEO"
                              filename: "68c229ffd1866e0904f04e74"
                      media: []
                      products:
                        - _id: "6831814e5623cdacc9023abd"
                          shopifyId: "gid://shopify/Product/9830837322023"
                          shopifyHandle: "the-moonshot-hodl"
                  customFields:
                    - _id: "68317ae95623cdacc9fc1393"
                      handle: "cc-hero-header"
                      ownerType: "collab"
                      ownerId: "67801c7dddd3b70bb40a62e9"
                      value: "Love the hold, you will too!"
                      type: "single_line_text_field"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                error: "Internal Server Error"
                message: "Failed to retrieve channel collab"

    post:
      tags:
        - Collabs
      summary: Update Channel Collab
      description: Updates a collab within a channel, including ability to reorder drops. Requires `collabId`; email is not supported as a collab lookup substitute.
      operationId: updateChannelCollab
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          description: The Shopify domain
          schema:
            type: string
            example: "cc-collabs-sandbox.myshopify.com"
        - name: collabId
          in: path
          required: true
          description: The collab ID
          schema:
            type: string
            example: "68d482d502627cba69150a33"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelCollabRequest'
            example:
              creator:
                email: "kenyon+test48548sep641@creatorcommerce.shop"
                firstName: "Qeptio"
                lastName: "Hombre"
                shop:
                  theme:
                    primaryColor: "#66ccff"
                  title: "test tiles"
              affiliateCode: "NEWCODE"
              affiliateUrl: "https://example.com/NEWCODE"
              drops: ["68d4bd5c7796e248a07dfbf2", "68d4be997796e248a07dfc1a"]
              custom:
                cc-ken-short-form: "cc-test1"
                cc-cc-ken-long-form: "Hey everyone this is a super long field"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully updated channel collab
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabResponse'
              example:
                collab:
                  _id: "68d482d502627cba69150a33"
                  channel: "67a93e156cc51f6c4e878e0c"
                  creator: "68d4828e02627cba69144aa2"
                  affiliateCode: "NEWCODE"
                  affiliateUrl: "https://example.com/NEWCODE"
                  collabTier: "68d46d30d78da92db6cad276"
                  drops:
                    - "68d4bd5c7796e248a07dfbf2"
                    - "68d4be997796e248a07dfc1a"
                  relationshipManager: "creatorcommerce"
                  updatedAt: "2026-02-21T00:30:14.127Z"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/collab-tiers:
    get:
      tags:
        - Collabs
      summary: Get Channel Collab Tiers
      description: Retrieves all collab tiers configured for a specific channel
      operationId: getChannelCollabTiers
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          description: The Shopify domain
          schema:
            type: string
            example: "cc-goaff-sandbox.myshopify.com"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully retrieved collab tiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabTiersResponse'
              example:
                collabTiers:
                  - _id: "6997d1305fe142fd13cff500"
                    channel: "6997d1b29655870ce8359c45"
                    tierKey: "28002"
                    tierTitle: "CC // Test Pages"
                    relationshipManager: "shopify-collabs"
                    discount:
                      discountAmount: 20
                      discountType: "Percentage"
                    isDefault: false
                  - _id: "6997d1305fe142fd13cff501"
                    channel: "6997d1b29655870ce8359c45"
                    tierKey: "default-creatorcommerce"
                    tierTitle: "CreatorCommerce Default"
                    relationshipManager: "creatorcommerce"
                    isDefault: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                error: "Internal Server Error"
                message: "Failed to retrieve collab tiers"

  /channels/{myshopifyDomain}/collabs/{collabId}/drops/{dropId}:
    post:
      tags:
        - Drops
      summary: Update Channel Drop
      description: Updates a drop within a channel collab with field-by-field changes. Requires `collabId`; email is not supported as a substitute lookup.
      operationId: updateChannelDrop
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          description: The Shopify domain
          schema:
            type: string
            example: "cc-collabs-sandbox.myshopify.com"
        - name: collabId
          in: path
          required: true
          description: The collab ID
          schema:
            type: string
            example: "68d482d502627cba69150a33"
        - name: dropId
          in: path
          required: true
          description: The drop ID
          schema:
            type: string
            example: "68d4bf4b7796e248a07dfc2f"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelDropRequest'
            example:
              title: "Updated Drop Title"
              description: "Updated drop description"
              media: []
              products: []
              custom:
                cc-drop-short-form-2: "Featured"
              formId: "form_12345"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully updated channel drop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DropResponse'
              example:
                drop:
                  _id: "68d4bf4b7796e248a07dfc2f"
                  title: "Updated Drop Title"
                  description: "Updated drop description"
                  media:
                    - _id: "68f0f2dca11250a7ccf1ea12"
                      mediaContentType: "IMAGE"
                      mimeType: "image/webp"
                      url: "https://assets.drops.shop/all/68f0f2dca11250a7ccf1ea12.webp"
                  products:
                    - "68d4bd2202627cba6983e4df"
                    - "67bfce788207c73f3951acb7"
                  creator: "68d4828e02627cba69144aa2"
                  updatedAt: "2026-02-21T00:34:20.625Z"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/collabs/{collabId}/drops/{dropId}/products:
    post:
      tags:
        - Drops
      summary: Add Products To Drop
      description: Appends products (and optional enhancements/custom fields) to an existing drop. Requires `collabId`; email is not supported as a substitute lookup.
      operationId: addProductsToDrop
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
        - name: collabId
          in: path
          required: true
          schema:
            type: string
        - name: dropId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProductsToDropRequest'
            example:
              products:
                - id: "9192128643323"
                  enhancement:
                    note: "Love these so much!"
                    variant: "47773464363259"
                    media:
                      - "https://assets.drops.shop/all/6997dbf076e884895ba4a345.webp"
                    custom:
                      cc-product-badge: "Creator Favorite"
                - id: "9177537970427"
                  enhancement:
                    note: "These are great!"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Products added to drop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DropResponse'
              example:
                drop:
                  _id: "68d4bf4b7796e248a07dfc2f"
                  products:
                    - "68d4bd2202627cba6983e4df"
                    - "67bfce788207c73f3951acb7"
                    - "6997dd615fe142fd13d8b43e"
                    - "6997dd615fe142fd13d8b43f"
                  enhancements:
                    - "68d4c15e7796e248a07dfd53"
                    - "68d4c15f7796e248a07dfd5d"
                    - "6997dd61c65868de8b5a1ac4"
                    - "6997dd61c65868de8b5a1ac7"
                  updatedAt: "2026-02-21T00:40:11.004Z"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/collabs/{collabId}/drops/{dropId}/enhancements/{enhancementId}:
    post:
      tags:
        - Drops
      summary: Update Product Enhancement
      description: Updates a product enhancement within a drop in a channel collab. Requires `collabId`; email is not supported as a substitute lookup.
      operationId: updateChannelEnhancement
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          description: The Shopify domain
          schema:
            type: string
            example: "cc-collabs-sandbox.myshopify.com"
        - name: collabId
          in: path
          required: true
          description: The collab ID
          schema:
            type: string
            example: "68d482d502627cba69150a33"
        - name: dropId
          in: path
          required: true
          description: The drop ID
          schema:
            type: string
            example: "68d4bf4b7796e248a07dfc2f"
        - name: enhancementId
          in: path
          required: true
          description: The enhancement ID
          schema:
            type: string
            example: "68d4c15e7796e248a07dfd53"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnhancementRequest'
            example:
              note: "This is my absolute favorite product!"
              variant: "46033520853279"
              media:
                - "https://picsum.photos/200/300"
              custom:
                cc-product-short-form-2: "Must-have"
              formId: "form_product_123"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully updated enhancement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnhancementResponse'
              example:
                enhancement:
                  _id: "68d4c15e7796e248a07dfd53"
                  product: "68d4bd2202627cba6983e4df"
                  note: "This is my absolute favorite product!"
                  variant: "46033520853279"
                  media:
                    - _id: "68f0f2dca11250a7ccf1ea12"
                      mediaContentType: "IMAGE"
                      mimeType: "image/webp"
                      url: "https://assets.drops.shop/all/68f0f2dca11250a7ccf1ea12.webp"
                  formId: "form_product_123"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/custom-field-definitions:
    get:
      tags:
        - Custom Field Definitions
      summary: Get Channel Custom Field Definitions
      operationId: getChannelCustomFieldDefinitions
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Custom field definitions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldDefinitionsResponse'
              example:
                customFieldDefinitions:
                  - _id: "67f8c4da35d6e293b9c2a111"
                    ownerType: "collab"
                    name: "Hero Header"
                    description: "Top hero heading for creator storefront"
                    handle: "cc-hero-header"
                    type: "single_line_text_field"
                    isEditable: true
                    isCreatorEditable: true
                    isDeleted: false
                  - _id: "67f8c4da35d6e293b9c2a112"
                    ownerType: "drop"
                    name: "Drop Subtitle"
                    handle: "cc-drop-subtitle"
                    type: "multi_line_text_field"
                    isEditable: true
                    isCreatorEditable: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Custom Field Definitions
      summary: Create Channel Custom Field Definition
      operationId: createChannelCustomFieldDefinition
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomFieldDefinitionRequest'
            example:
              ownerType: "collab"
              name: "Hero Header"
              description: "Top hero heading for creator storefront"
              handle: "hero-header"
              type: "single_line_text_field"
              isEditable: true
              isCreatorEditable: true
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Custom field definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldDefinitionResponse'
              example:
                customFieldDefinition:
                  _id: "67f8c4da35d6e293b9c2a111"
                  ownerType: "collab"
                  name: "Hero Header"
                  description: "Top hero heading for creator storefront"
                  handle: "cc-hero-header"
                  type: "single_line_text_field"
                  isEditable: true
                  isCreatorEditable: true
                  isDeleted: false
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/form-definitions:
    get:
      tags:
        - Form Definitions
      summary: Get Channel Form Definitions
      operationId: getChannelFormDefinitions
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Form definitions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormDefinitionsResponse'
              example:
                formDefinitions:
                  - _id: "67f8d0eb224ca611de0b5001"
                    type: "custom"
                    title: "Creator Intake Form"
                    description: "Collect creator profile and funnel preferences"
                    isActive: true
                    fields:
                      - fieldType: "field"
                        name: "headline"
                        label: "Headline"
                        dataType: "string"
                  - _id: "67f8d0eb224ca611de0b5002"
                    type: "custom"
                    title: "Drop Notes Form"
                    isActive: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Form Definitions
      summary: Create Channel Form Definition
      operationId: createChannelFormDefinition
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormDefinition'
            example:
              type: "custom"
              title: "Creator Intake Form"
              description: "Collect creator profile and storefront metadata"
              isActive: true
              fields:
                - fieldType: "field"
                  name: "headline"
                  label: "Headline"
                  dataType: "string"
                  inputType: "text"
                - fieldType: "field"
                  name: "about"
                  label: "About"
                  dataType: "string"
                  inputType: "textarea"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Form definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormDefinitionResponse'
              example:
                formDefinition:
                  _id: "67f8d0eb224ca611de0b5001"
                  type: "custom"
                  title: "Creator Intake Form"
                  description: "Collect creator profile and storefront metadata"
                  isActive: true
                  fields:
                    - fieldType: "field"
                      name: "headline"
                      label: "Headline"
                      dataType: "string"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/form-definitions/{formDefinitionId}:
    get:
      tags:
        - Form Definitions
      summary: Get Channel Form Definition
      operationId: getChannelFormDefinition
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
        - name: formDefinitionId
          in: path
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Form definition retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormDefinitionResponse'
              example:
                formDefinition:
                  _id: "67f8d0eb224ca611de0b5001"
                  type: "custom"
                  title: "Creator Intake Form"
                  description: "Collect creator profile and storefront metadata"
                  isActive: true
                  fields:
                    - fieldType: "field"
                      name: "headline"
                      label: "Headline"
                      dataType: "string"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Form Definitions
      summary: Update Channel Form Definition
      operationId: updateChannelFormDefinition
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
        - name: formDefinitionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormDefinition'
            example:
              title: "Creator Intake Form v2"
              description: "Updated form copy"
              isActive: true
              fields:
                - fieldType: "field"
                  name: "headline"
                  label: "Hero headline"
                  dataType: "string"
                  inputType: "text"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Form definition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormDefinitionResponse'
              example:
                formDefinition:
                  _id: "67f8d0eb224ca611de0b5001"
                  title: "Creator Intake Form v2"
                  description: "Updated form copy"
                  isActive: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/campaigns:
    get:
      tags:
        - Campaigns
      summary: Get Channel Campaigns
      operationId: getChannelCampaigns
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Campaigns retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsResponse'
              example:
                campaigns:
                  - _id: "699752d110aaf04ada0eb4ef"
                    title: "Default Campaign"
                    description: "Always-on campaign"
                    isActive: true
                    collabTiers:
                      - "6997d1305fe142fd13cff500"
                    queryParams: "utm_source=creatorcommerce&utm_medium=affiliate"
                  - _id: "699752d110aaf04ada0eb4f0"
                    title: "Spring Push"
                    isActive: false
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Campaigns
      summary: Create Channel Campaign
      operationId: createChannelCampaign
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
            example:
              title: "Default Campaign"
              description: "Always-on campaign"
              isActive: true
              collabTiers:
                - "6997d1305fe142fd13cff500"
              queryParams: "utm_source=creatorcommerce&utm_medium=affiliate"
              tags:
                - "default"
                - "evergreen"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
              example:
                campaign:
                  _id: "699752d110aaf04ada0eb4ef"
                  title: "Default Campaign"
                  description: "Always-on campaign"
                  isActive: true
                  collabTiers:
                    - "6997d1305fe142fd13cff500"
                  queryParams: "utm_source=creatorcommerce&utm_medium=affiliate"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/campaigns/{campaignId}:
    get:
      tags:
        - Campaigns
      summary: Get Channel Campaign
      operationId: getChannelCampaign
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Campaign retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
              example:
                campaign:
                  _id: "699752d110aaf04ada0eb4ef"
                  title: "Default Campaign"
                  description: "Always-on campaign"
                  isActive: true
                  collabTiers:
                    - "6997d1305fe142fd13cff500"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Campaigns
      summary: Update Channel Campaign
      operationId: updateChannelCampaign
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
            example:
              title: "Default Campaign"
              description: "Always-on campaign (updated)"
              isActive: true
              collabTiers:
                - "6997d1305fe142fd13cff500"
              startAt: "2026-02-21T00:00:00.000Z"
              endAt: "2026-03-31T23:59:59.000Z"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
              example:
                campaign:
                  _id: "699752d110aaf04ada0eb4ef"
                  title: "Default Campaign"
                  description: "Always-on campaign (updated)"
                  isActive: true
                  startAt: "2026-02-21T00:00:00.000Z"
                  endAt: "2026-03-31T23:59:59.000Z"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/metrics/session:
    get:
      tags:
        - Metrics
      summary: Get Channel Session Metrics
      operationId: getChannelSessionMetrics
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Session metrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              example:
                metrics:
                  aggregates:
                    currentPeriod:
                      all:
                        sessions: 12482
                        uniqueVisitors: 8951
                        creatorAttributedSessions: 4720
                      perDay:
                        "2026-02-14":
                          sessions: 1532
                        "2026-02-15":
                          sessions: 1688
                    prevPeriod:
                      all:
                        sessions: 10934
                        uniqueVisitors: 7910
                        creatorAttributedSessions: 3904
                      perDay:
                        "2026-02-07":
                          sessions: 1399
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /channels/{myshopifyDomain}/metrics/revenue:
    get:
      tags:
        - Metrics
      summary: Get Channel Revenue Metrics
      operationId: getChannelRevenueMetrics
      parameters:
        - name: myshopifyDomain
          in: path
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Revenue metrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              example:
                metrics:
                  aggregates:
                    currentPeriod:
                      all:
                        grossRevenue: 248920.33
                        creatorAttributedRevenue: 92440.77
                        orders: 1542
                      perDay:
                        "2026-02-14":
                          grossRevenue: 30110.22
                        "2026-02-15":
                          grossRevenue: 32774.93
                    prevPeriod:
                      all:
                        grossRevenue: 211904.07
                        creatorAttributedRevenue: 80112.52
                        orders: 1389
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /creators/{creatorId}/forms:
    get:
      tags:
        - Collabs
      summary: Get Creator Forms
      description: Returns creator-facing custom forms for the creator/channel context.
      operationId: getCreatorForms
      parameters:
        - name: creatorId
          in: path
          required: true
          schema:
            type: string
        - name: channelId
          in: query
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Forms retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFormsResponse'
              example:
                forms:
                  - _id: "67f8d0eb224ca611de0b5001"
                    title: "Creator Intake Form"
                    description: "Collect creator profile and storefront metadata"
                    url: "https://dashboard.creatorcommerce.shop/forms/67f8d0eb224ca611de0b5001?email=jill%40example.com&channel=nuuds-com.myshopify.com"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /creators/collabs:
    get:
      tags:
        - Collabs
      summary: Get Collabs
      description: Retrieves collabs for `myshopify_domain`. If `email` is provided, resolves collab(s) for that creator email within the channel.
      operationId: getCollabs
      parameters:
        - name: email
          in: query
          required: false
          description: Optional creator email lookup key (used with `myshopify_domain`).
          schema:
            type: string
            format: email
            example: "kenyon+4494949392@creatorcommerce.shop"
        - name: myshopify_domain
          in: query
          required: true
          description: The Shopify domain
          schema:
            type: string
            example: "cc-goaff-sandbox.myshopify.com"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully retrieved collabs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabsResponse'
              example:
                collabs:
                  collabs:
                    - _id: "6997d1305fe142fd13cff4d7"
                      channel: "6997d1b29655870ce8359c45"
                      creator:
                        _id: "6997d1305fe142fd13cff4b6"
                        firstName: "Jill"
                        lastName: "Doe"
                        email: "jill@example.com"
                      affiliateCode: "JILL23878"
                      affiliateUrl: "https://www.nuuds.com/JILL23878"
                      collabTier: "6997d1305fe142fd13cff500"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                error: "Internal Server Error"
                message: "Creator or Channel not found"
    post:
      tags:
        - Collabs
      summary: Create Collab
      description: Creates a new collaboration for a creator. Uses body `email` as creator identity lookup within `myshopifyDomain`.
      operationId: createCollab
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollabRequest'
            example:
              myshopifyDomain: "cc-collabs-sandbox.myshopify.com"
              email: "kenyon+test48548sep641@creatorcommerce.shop"
              firstName: "Zeptio"
              lastName: "Hombre"
              affiliateCode: "TEST"
              affiliateUrl: "https://test.com/TEST"
              profilePicture: "https://picsum.photos/200/300"
              primaryColor: "#66ccff"
              title: "Blah"
              custom:
                cc-ken-short-form: "cc-test1"
                cc-cc-ken-long-form: "Hey everyone this is a super long field"
                cc-ken-single-media: "https://fastly.picsum.photos/id/48/200/300.jpg?hmac=p1L57uKWk-HOLxkodQjf0Q4BpaqgWYhEgWyGaeIpG_k"
                "List of ken media":
                  - "https://images.pexels.com/photos/31415546/pexels-photo-31415546.jpeg"
                  - "https://images.pexels.com/photos/16229208/pexels-photo-16229208.jpeg"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully created collab
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabResponse'
              example:
                collab:
                  discount:
                    discountAmount: 10
                    discountType: "Percentage"
                  _id: "68d482d502627cba69150a33"
                  channel: "67a93e156cc51f6c4e878e0c"
                  creator: "68d4828e02627cba69144aa2"
                  __v: 0
                  affiliateCode: "TEST"
                  affiliateUrl: "https://test.com/TEST/"
                  collabTier: "68d46d30d78da92db6cad276"
                  createdAt: "2025-09-24T23:46:29.094Z"
                  drops: []
                  isPartial: false
                  relationshipManager: "creatorcommerce"
                  updatedAt: "2025-09-24T23:46:29.094Z"

  /creators/collabs/{collabId}:
    post:
      tags:
        - Collabs
      summary: Update Collab
      description: Updates an existing collaboration. Requires `collabId`; body `email` (if provided) updates creator data and does not replace `collabId` lookup.
      operationId: updateCollab
      parameters:
        - name: collabId
          in: path
          required: true
          description: The collab ID
          schema:
            type: string
            example: "68d482d502627cba69150a33"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCollabRequest'
            example:
              myshopifyDomain: "cc-collabs-sandbox.myshopify.com"
              email: "kenyon+test48548sep641@creatorcommerce.shop"
              firstName: "Meptio"
              isOnboarded: true
              lastName: "Zebra"
              collabTier: "688d99d950696f7c412b385a"
              affiliateCode: "CODE2"
              handle: "taptio-123456789"
              affiliateUrl: "https://kenyon1.com"
              discount:
                discountAmount: 80
                discountType: "Percentage"
              custom:
                cc-ken-short-form: "mcdonals"
                cc-cc-ken-long-form: "bk"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully updated collab
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabResponse'
              example:
                collab:
                  discount:
                    discountAmount: 0
                    discountType: "Percentage"
                  _id: "68d482d502627cba69150a33"
                  channel: "67a93e156cc51f6c4e878e0c"
                  creator: "68d4828e02627cba69144aa2"
                  __v: 0
                  affiliateCode: "CODE2"
                  affiliateUrl: "https://kenyon1.com"
                  collabTier: "688d99d950696f7c412b385a"
                  createdAt: "2025-09-24T23:46:29.094Z"
                  drops:
                    - "68d4bd5c7796e248a07dfbf2"
                    - "68d4be997796e248a07dfc1a"
                    - "68d4bf4b7796e248a07dfc2f"
                  isPartial: false
                  relationshipManager: "creatorcommerce"
                  updatedAt: "2025-09-25T20:46:41.420Z"
                  collabStartedAt: "2025-09-24T23:46:31.304Z"
                  metadata:
                    shopifyCreatorCollectionId: "gid://shopify/Collection/501615329567"
                    shopifyCreatorMetaobjectId: "gid://shopify/Metaobject/169337094431"

  /creators/collabs/{collabId}/drops:
    post:
      tags:
        - Drops
      summary: Create Drop
      description: Creates a new drop with products for the specified collab. Requires `collabId`; email is not accepted as a substitute lookup.
      operationId: createDrop
      parameters:
        - name: collabId
          in: path
          required: true
          description: The collab ID
          schema:
            type: string
            example: "68d482d502627cba69150a33"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDropRequest'
            example:
              title: "hi quest 5"
              description: "hello quest"
              products:
                - id: "8491113971999"
                  enhancement:
                    note: "test notesssssssss for quest snowboard"
                    media:
                      - "https://picsum.photos/200/300"
                  custom:
                    cc-product-short-form-2: "product stuff quest"
                    cc-product-long-form-2: "product stuff quest longer"
                - id: "8491114332447"
                  enhancement:
                    note: "test notessssssXXsss for quest snowboard"
                    media:
                      - "https://picsum.photos/200/300"
                      - mediaContentType: "IMAGE"
                        mimeType: "image/png"
                        originalFilename: "ChatGPT Image Jul 27, 2025, 02_48_21 PM.png"
                        extension: "png"
                        owner: "user_30iVLI8ndVGiTMgtAgD2mHMT7AB"
                        tags: []
                        _id: "68918481be19399dfb5cc8d4"
                        filename: "68918481be19399dfb5cc8d4"
                        url: "https://assets-staging.drops.shop/user_30iVLI8ndVGiTMgtAgD2mHMT7AB/68918481be19399dfb5cc8d4.png"
                        __v: 0
                  custom:
                    cc-product-short-form-2: "product stuff quest"
                    cc-product-long-form-2: "product stuff quest longer"
              custom:
                cc-drop-short-form-2: "PPPPPPPPPPPPPPPP"
                cc-drop-long-form-2: "UUUUUUUUUUU"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully created drop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DropResponse'
              example:
                drop:
                  _id: "68d4bf4b7796e248a07dfc2f"
                  title: "hi quest 5"
                  description: "hello quest"
                  media: []
                  products:
                    - "68d4bd2202627cba6983e4df"
                    - "67bfce788207c73f3951acb7"
                  enhancements:
                    - "68d4c15e7796e248a07dfd53"
                    - "68d4c15f7796e248a07dfd5d"
                  creator: "68d4828e02627cba69144aa2"
                  channels:
                    - "67a93e156cc51f6c4e878e0c"

  /creators/collabs/{collabId}/drops/{dropId}:
    post:
      tags:
        - Drops
      summary: Update Drop
      description: Updates an existing drop for the specified collab. Requires `collabId`; email is not accepted as a substitute lookup.
      operationId: updateDrop
      parameters:
        - name: collabId
          in: path
          required: true
          description: The collab ID
          schema:
            type: string
            example: "68d482d502627cba69150a33"
        - name: dropId
          in: path
          required: true
          description: The drop ID
          schema:
            type: string
            example: "68d4bf4b7796e248a07dfc2f"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDropRequest'
            example:
              title: "hi quest 7"
              description: "hello quest!"
              products:
                - id: "8491113971999"
                  enhancement:
                    note: "test notesssssssss for quest snowboard"
                    media:
                      - "https://picsum.photos/200/300"
                  custom:
                    cc-product-short-form-2: "product stuff quest"
                    cc-product-long-form-2: "product stuff quest longer"
                - id: "8491114332447"
                  variantId: "46033520853279"
                  enhancement:
                    note: "test notessssssXXsss for quest snowboard"
                    media:
                      - "https://picsum.photos/200/300"
                  custom:
                    cc-product-short-form-2: "product stuff quest"
                    cc-product-long-form-2: "product stuff quest longer"
                    cc-cc-product-singlemedia-2: "https://picsum.photos/200/300"
                    cc-product-long-media-2:
                      - "https://picsum.photos/200/300"
                      - "https://picsum.photos/200/300"
              custom:
                cc-drop-short-form-2: "PPPPPPPPPPPPPPPP"
                cc-drop-long-form-2: "UUUUUUUUUUU"
                cc-drop-media-2: "https://picsum.photos/200/300"
                cc-drop-long-media-2:
                  - "https://picsum.photos/200/300"
                  - "https://picsum.photos/200/300"
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully updated drop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DropResponse'
              example:
                drop:
                  _id: "68d4bf4b7796e248a07dfc2f"
                  channelHandles: []
                  title: "hi quest 7"
                  description: "hello quest!"
                  media: []
                  channels:
                    - "67a93e156cc51f6c4e878e0c"
                  products:
                    - "68d4bd2202627cba6983e4df"
                    - "67bfce788207c73f3951acb7"
                  enhancements:
                    - "68d4c15e7796e248a07dfd53"
                    - "68d4c15f7796e248a07dfd5d"
                  creator: "68d4828e02627cba69144aa2"
                  createdAt: "2025-09-25T04:04:29.765Z"
                  updatedAt: "2025-09-25T04:13:21.875Z"
                  __v: 0

  /integrations/listings:
    get:
      tags:
        - Integrations
      summary: Get Integration Listings
      description: Returns available integration listings enriched from CreatorCommerce and Webflow metadata.
      operationId: getIntegrationListings
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Integration listings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationListingsResponse'
              example:
                integrationListings:
                  - _id: "67f8f77fd40ab5053b233301"
                    title: "Klaviyo"
                    handle: "klaviyo"
                    type: "esp"
                    enablementMode: "internal"
                    enablementConfigFields:
                      - label: "API Key"
                        description: "Klaviyo private API key"
                        name: "apiKey"
                        inputType: "password"
                  - _id: "67f8f77fd40ab5053b233302"
                    title: "Shopify Collabs"
                    handle: "shopify-collabs"
                    type: "affiliate"
                    enablementMode: "flow"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication (JWT)
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-channel-access-token
      description: Channel or partner access token (x-channel-access-token or x-partner-access-token)

  schemas:
    CartUrlResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            cartUrl:
              type: string
              format: uri
              description: The checkout URL with all products and attributes
      required:
        - data

    MagicLinkResponse:
      type: object
      properties:
        email:
          type: string
          format: email
        notify:
          type: boolean
          description: Whether to send notification email
        link:
          type: string
          format: uri
          description: The magic link URL
      required:
        - email
        - link

    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        message:
          type: string
      required:
        - statusCode
        - error
        - message

    CollabsResponse:
      type: object
      properties:
        collabs:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/Collab'
            - type: object
              properties:
                collabs:
                  type: array
                  items:
                    $ref: '#/components/schemas/Collab'

    Collab:
      type: object
      properties:
        _id:
          type: string
        channel:
          type: string
        creator:
          oneOf:
            - type: string
            - $ref: '#/components/schemas/Creator'
        affiliateCode:
          type: string
        channelName:
          type: string
        relationshipManager:
          type: string
        discount:
          $ref: '#/components/schemas/Discount'
        shopifyCollabsTierName:
          type: string
        isActive:
          type: boolean
        tierKey:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        shop:
          oneOf:
            - type: string
            - $ref: '#/components/schemas/Shop'
        shopHandle:
          type: string
        shopifyCreatorCollectionId:
          type: string
        shopifyCustomerId:
          type: string
        shopifyCreatorMetaobjectId:
          type: string
        collabStartedAt:
          type: string
          format: date-time
        collabTier:
          type: string
        metadata:
          type: object
        drops:
          type: array
          items:
            type: string
        isPartial:
          type: boolean
        affiliateUrl:
          type: string
        campaign:
          $ref: '#/components/schemas/Campaign'
        custom:
          type: object
          additionalProperties: true

    Creator:
      type: object
      properties:
        _id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        username:
          type: string
        source:
          type: string
        isOnboarded:
          type: boolean
        socials:
          type: array
          items:
            type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        shop:
          $ref: '#/components/schemas/Shop'
        shopHandle:
          type: string
        handle:
          type: string
        tags:
          type: array
          items:
            type: string
        profilePicture:
          $ref: '#/components/schemas/Media'

    Shop:
      type: object
      properties:
        _id:
          type: string
        title:
          type: string
        description:
          type: string
        theme:
          type: object
          properties:
            primaryColor:
              type: string
        isDeleted:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Discount:
      type: object
      properties:
        discountAmount:
          type: number
        discountType:
          type: string
          enum:
            - Percentage
            - FixedAmount
        shopifyCollabsDiscountCode:
          type: string
        discountCode:
          type: string
        _id:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Campaign:
      type: object
      properties:
        _id:
          type: string
        title:
          type: string
        collabTiers:
          type: array
          items:
            type: string
        brandPage:
          type: string
          nullable: true
        productPage:
          type: string
          nullable: true
        channel:
          type: string
        isActive:
          type: boolean
        brandPageRedirectUrlTemplate:
          type: string
        productPageRedirectUrlTemplate:
          type: string
        queryParams:
          type: string
        tags:
          type: array
          items:
            type: string
        startedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Media:
      type: object
      properties:
        _id:
          type: string
        extension:
          type: string
        filename:
          type: string
        mediaContentType:
          type: string
        mimeType:
          type: string
        originalFilename:
          type: string
        owner:
          type: string
        tags:
          type: array
          items:
            type: string
        updatedAt:
          type: string
          format: date-time
        url:
          type: string
          format: uri

    CreateCollabRequest:
      type: object
      required:
        - myshopifyDomain
        - email
        - firstName
        - lastName
      properties:
        myshopifyDomain:
          type: string
          description: The Shopify domain
        email:
          type: string
          format: email
          description: Creator email lookup key used to find or upsert the creator within `myshopifyDomain`.
        firstName:
          type: string
        lastName:
          type: string
        handle:
          type: string
        affiliateCode:
          type: string
        affiliateUrl:
          type: string
        collabTier:
          type: string
        profilePicture:
          oneOf:
            - type: string
              format: uri
            - $ref: '#/components/schemas/Media'
        primaryColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          description: Hex color code
        title:
          type: string
        custom:
          type: object
          additionalProperties: true
          description: Custom fields for the collab

    UpdateCollabRequest:
      type: object
      properties:
        myshopifyDomain:
          type: string
        email:
          type: string
          format: email
          description: Optional creator email field to update on the collab's creator. Not used as a replacement lookup for `collabId`.
        firstName:
          type: string
        lastName:
          type: string
        isOnboarded:
          type: boolean
        collabTier:
          type: string
        affiliateCode:
          type: string
        handle:
          type: string
        affiliateUrl:
          type: string
        discount:
          $ref: '#/components/schemas/Discount'
        profilePicture:
          oneOf:
            - type: string
              format: uri
            - $ref: '#/components/schemas/Media'
        primaryColor:
          type: string
        title:
          type: string
        custom:
          type: object
          additionalProperties: true

    CollabResponse:
      type: object
      properties:
        collab:
          $ref: '#/components/schemas/Collab'

    ProductEnhancement:
      type: object
      properties:
        note:
          type: string
        media:
          type: array
          items:
            oneOf:
              - type: string
                format: uri
              - $ref: '#/components/schemas/Media'
        variant:
          type: string
          description: Optional specific variant ID
        custom:
          type: object
          additionalProperties: true
        formId:
          type: string
          description: Optional form template ID

    DropProduct:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Shopify product ID
        variantId:
          type: string
          description: Optional variant ID
        enhancement:
          $ref: '#/components/schemas/ProductEnhancement'
        custom:
          type: object
          additionalProperties: true

    CreateDropRequest:
      type: object
      required:
        - title
        - description
        - products
      properties:
        title:
          type: string
        description:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/DropProduct'
        custom:
          type: object
          additionalProperties: true
        formId:
          type: string
          description: Optional form template ID

    UpdateDropRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/DropProduct'
        custom:
          type: object
          additionalProperties: true
        formId:
          type: string
          description: Optional form template ID

    DropResponse:
      type: object
      properties:
        drop:
          type: object
          properties:
            _id:
              type: string
            channelHandles:
              type: array
              items:
                type: string
            title:
              type: string
            description:
              type: string
            media:
              type: array
              items:
                $ref: '#/components/schemas/Media'
            channels:
              type: array
              items:
                type: string
            products:
              type: array
              items:
                oneOf:
                  - type: string
                  - $ref: '#/components/schemas/DropProduct'
            enhancements:
              type: array
              items:
                oneOf:
                  - type: string
                  - type: object
            creator:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            __v:
              type: integer
            formId:
              type: string
              description: Optional form template ID

    ChannelCollabsResponse:
      type: object
      properties:
        collabs:
          type: array
          items:
            $ref: '#/components/schemas/Collab'
        pagination:
          type: object
          properties:
            hasNextPage:
              type: boolean
            totalCount:
              type: integer
            nextCursor:
              type: string
              nullable: true
      description: Response containing array of collabs for a channel

    ChannelCollabResponse:
      type: object
      properties:
        collab:
          type: object
          properties:
            _id:
              type: string
            creator:
              type: object
              properties:
                _id:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                handle:
                  type: string
                email:
                  type: string
                  format: email
                profilePicture:
                  $ref: '#/components/schemas/Media'
                shop:
                  type: object
                  properties:
                    theme:
                      type: object
                      properties:
                        primaryColor:
                          type: string
                    title:
                      type: string
            collabTier:
              type: object
              properties:
                _id:
                  type: string
                title:
                  type: string
            campaign:
              type: object
              properties:
                _id:
                  type: string
                title:
                  type: string
            affiliateCode:
              type: string
            affiliateUrl:
              type: string
            discount:
              $ref: '#/components/schemas/Discount'
            drops:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  enhancements:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        product:
                          type: string
                        note:
                          type: string
                        media:
                          type: array
                          items:
                            $ref: '#/components/schemas/Media'
                  media:
                    type: array
                    items:
                      $ref: '#/components/schemas/Media'
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        shopifyId:
                          type: string
                          description: Shopify GID
                        shopifyHandle:
                          type: string
            customFields:
              type: array
              items:
                $ref: '#/components/schemas/CustomField'
      description: Response containing single collab with fully populated creator, drops, enhancements, and custom fields

    CollabTiersResponse:
      type: object
      properties:
        collabTiers:
          type: array
          items:
            $ref: '#/components/schemas/CollabTier'
      description: Response containing array of collab tiers for a channel

    CollabTier:
      type: object
      properties:
        _id:
          type: string
        channel:
          type: string
        tierKey:
          type: string
          description: Unique tier identifier
        tierTitle:
          type: string
          description: Human-readable tier name
        relationshipManager:
          type: string
          enum:
            - shopify-collabs
            - creatorcommerce
        discount:
          $ref: '#/components/schemas/Discount'
        metadata:
          type: object
          properties:
            shopifyDiscountId:
              type: string
        prevDiscount:
          $ref: '#/components/schemas/Discount'
        isDefault:
          type: boolean
        isShopifyCreatorMetaobjectSyncDisabled:
          type: boolean
        campaign:
          type: string
          description: Associated campaign ID
        prevCampaign:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Enhancement:
      type: object
      properties:
        _id:
          type: string
        product:
          type: string
          description: Product reference ID
        note:
          type: string
          description: Creator's note or review about the product
        media:
          type: array
          items:
            oneOf:
              - type: string
                format: uri
              - $ref: '#/components/schemas/Media'
        variant:
          type: string
          description: Optional specific variant ID
        custom:
          type: object
          additionalProperties: true
        formId:
          type: string
          description: Optional form template ID
      description: Product content fields within a drop within a collab within a channel

    CustomField:
      type: object
      properties:
        _id:
          type: string
        handle:
          type: string
          description: Custom field handle/key (e.g., cc-hero-header)
        ownerType:
          type: string
          enum:
            - creator
            - campaign
            - collab
            - collabTier
            - advert
            - drop
            - product
            - enhancement
          description: Type of entity this field belongs to
        ownerId:
          type: string
          description: ID of the owning entity
        value:
          oneOf:
            - type: string
            - type: number
            - type: boolean
            - $ref: '#/components/schemas/Media'
            - type: array
              items:
                $ref: '#/components/schemas/Media'
          description: Field value - type depends on the field type (string for text, Media object for media, array for list.media)
        type:
          type: string
          enum:
            - drop
            - media
            - product
            - tag
            - boolean
            - date_time
            - json
            - number_decimal
            - number_integer
            - single_line_text_field
            - multi_line_text_field
            - list.drop
            - list.media
            - list.tags
            - list.single_line_text_field
            - list.multi_line_text_field
            - list.product
            - collection_reference
            - customer_reference
            - file_reference
            - metaobject_reference
            - page_reference
            - product_reference
            - variant_reference
            - list.collection_reference
            - list.customer_reference
            - list.file_reference
            - list.metaobject_reference
            - list.product_reference
          description: Field type classification

    UpdateEnhancementRequest:
      type: object
      properties:
        note:
          type: string
          description: Creator's note about the product
        variant:
          type: string
          description: Specific variant ID
        media:
          type: array
          items:
            oneOf:
              - type: string
                format: uri
              - $ref: '#/components/schemas/Media'
        custom:
          type: object
          additionalProperties: true
          description: Custom fields for product-level personalization
        formId:
          type: string
          description: Form template ID
        product:
          type: string
          description: Existing internal product ID to attach this enhancement to

    UpdateChannelCollabRequest:
      type: object
      properties:
        creator:
          type: object
          properties:
            email:
              type: string
              format: email
              description: Optional creator email field to update. Not used as a replacement lookup for `collabId`.
            firstName:
              type: string
            lastName:
              type: string
            handle:
              type: string
            profilePicture:
              oneOf:
                - type: string
                  format: uri
                - $ref: '#/components/schemas/Media'
            primaryColor:
              type: string
              pattern: '^#[0-9A-Fa-f]{6}$'
            title:
              type: string
            shop:
              type: object
              properties:
                theme:
                  type: object
                  properties:
                    primaryColor:
                      type: string
                      pattern: '^#[0-9A-Fa-f]{6}$'
                title:
                  type: string
        affiliateCode:
          type: string
        affiliateUrl:
          type: string
          format: uri
        drops:
          type: array
          items:
            type: string
          description: Array of drop IDs for reordering
        custom:
          type: object
          additionalProperties: true
          description: Custom fields for the collab

    UpdateChannelDropRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        media:
          type: array
          items:
            oneOf:
              - type: string
                format: uri
              - $ref: '#/components/schemas/Media'
        products:
          type: array
          items:
            oneOf:
              - type: string
              - $ref: '#/components/schemas/DropProduct'
              - type: object
                additionalProperties: true
        custom:
          type: object
          additionalProperties: true
        formId:
          type: string
          description: Form template ID

    EnhancementResponse:
      type: object
      properties:
        enhancement:
          $ref: '#/components/schemas/Enhancement'
      description: Response containing updated enhancement

    PresignedUrlResponse:
      type: object
      properties:
        presignedUrl:
          type: string
          format: uri
        media:
          $ref: '#/components/schemas/Media'
      required:
        - presignedUrl
        - media

    ChannelResponse:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/Channel'
      required:
        - channel

    Channel:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        handle:
          type: string
        isInstalled:
          type: boolean
        isTest:
          type: boolean
        platform:
          type: string
          enum:
            - shopify
            - other
        shopify:
          type: object
          additionalProperties: true
        brandKit:
          type: object
          additionalProperties: true
        onboardingSettings:
          type: object
          additionalProperties: true
        features:
          type: object
          additionalProperties: true
        connectedIntegrations:
          type: array
          items:
            $ref: '#/components/schemas/ConnectedIntegration'
        metadata:
          type: object
          additionalProperties: true
        shopifyCreatorMetaobjectDefinitionId:
          type: string
        shopifyWebPixelId:
          type: string
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ConnectedIntegration:
      type: object
      properties:
        name:
          type: string
        handle:
          type: string
          enum:
            - shopify-collabs
            - social-snowball
            - tapcart
            - klaviyo
            - goaffpro
            - other
            - grin
            - refersion
            - impact
            - superfiliate
            - roster
            - uppromote
        type:
          type: string
          enum:
            - affiliate
            - mobile-app
            - esp
        isEnabled:
          type: boolean
        shopifyCollabs:
          type: object
          additionalProperties: true
        socialSnowball:
          type: object
          additionalProperties: true
        goAffPro:
          type: object
          additionalProperties: true
        tapcart:
          type: object
          additionalProperties: true
        klaviyo:
          type: object
          additionalProperties: true
        grin:
          type: object
          additionalProperties: true
        refersion:
          type: object
          additionalProperties: true
        superfiliate:
          type: object
          additionalProperties: true
        roster:
          type: object
          additionalProperties: true
        uppromote:
          type: object
          additionalProperties: true
      additionalProperties: true

    AddProductsToDropRequest:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/DropProduct'
      required:
        - products

    CustomFieldDefinitionsResponse:
      type: object
      properties:
        customFieldDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldDefinition'
      required:
        - customFieldDefinitions

    CustomFieldDefinition:
      type: object
      properties:
        _id:
          type: string
        ownerType:
          type: string
          enum:
            - creator
            - campaign
            - collab
            - collabTier
            - advert
            - product
            - drop
            - enhancement
        name:
          type: string
        description:
          type: string
        handle:
          type: string
        type:
          type: string
        isEditable:
          type: boolean
        isCreatorEditable:
          type: boolean
        isDeleted:
          type: boolean
        channel:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateCustomFieldDefinitionRequest:
      type: object
      required:
        - ownerType
        - name
        - handle
        - type
      properties:
        ownerType:
          type: string
          enum:
            - creator
            - campaign
            - collab
            - collabTier
            - advert
            - product
            - drop
            - enhancement
        name:
          type: string
        description:
          type: string
        handle:
          type: string
          description: Handle is auto-normalized with `cc-` prefix.
        type:
          type: string
        isEditable:
          type: boolean
        isCreatorEditable:
          type: boolean
        isDeleted:
          type: boolean

    CustomFieldDefinitionResponse:
      type: object
      properties:
        customFieldDefinition:
          $ref: '#/components/schemas/CustomFieldDefinition'
      required:
        - customFieldDefinition

    FormDefinition:
      type: object
      properties:
        _id:
          type: string
        channel:
          type: string
        collabTiers:
          type: array
          items:
            type: string
        productTags:
          type: array
          items:
            type: string
        type:
          type: string
        title:
          type: string
        description:
          type: string
        onSubmit:
          type: string
        action:
          type: string
        isActive:
          type: boolean
        fields:
          type: array
          items:
            type: object
            additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: true

    FormDefinitionsResponse:
      type: object
      properties:
        formDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/FormDefinition'
      required:
        - formDefinitions

    FormDefinitionResponse:
      type: object
      properties:
        formDefinition:
          $ref: '#/components/schemas/FormDefinition'
      required:
        - formDefinition

    CampaignsResponse:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
      required:
        - campaigns

    CampaignResponse:
      type: object
      properties:
        campaign:
          $ref: '#/components/schemas/Campaign'
      required:
        - campaign

    MetricsResponse:
      type: object
      properties:
        metrics:
          type: object
          properties:
            aggregates:
              type: object
              properties:
                currentPeriod:
                  type: object
                  properties:
                    all:
                      type: object
                      additionalProperties: true
                    perDay:
                      type: object
                      additionalProperties: true
                prevPeriod:
                  type: object
                  properties:
                    all:
                      type: object
                      additionalProperties: true
                    perDay:
                      type: object
                      additionalProperties: true
      required:
        - metrics

    CreatorFormsResponse:
      type: object
      properties:
        forms:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
              title:
                type: string
              description:
                type: string
              url:
                type: string
                format: uri
      required:
        - forms

    IntegrationListingsResponse:
      type: object
      properties:
        integrationListings:
          type: array
          items:
[...]
